Pillow
Flask-SocketIO
opencv-python
socketIO-client
websocket-client
python-socketio
Flask
Flask-Cors
prettytable
urllib3
requests
easyocr
pytesseract
cuda-python
numpy
pywin32
pywin32-ctypes
pywinpty
